.messages {
  color: theme("colors.darkgray");
  font-family: cera-pro, sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding: 1rem;
  vertical-align: baseline;

  h2 {
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 1rem;
  }
}

.reply {
  background-color: theme("colors.secondary");
  border-radius: 0.5rem;
  border: 2px solid theme("colors.secondary");
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
}
