.channel {
  display: grid;
  grid-template-rows: 1fr 80px;
  overflow: hidden;
  min-height: 500px;
}

.content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
  height: 100%;
  width: 100%;
}

.header {
  box-shadow: 0 0 0 0.1rem rgba(1, 3, 5, 0.02);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  height: 5rem;
  min-height: 50px;
  overflow: hidden;
  padding: 0.5rem 1rem;

  img {
    height: 100%;
    overflow: hidden;
  }

  span {
    align-self: center;
    font-weight: 700;
    text-align: right;
  }
}

.layout {
  display: grid;
  grid-template-rows: auto minmax(500px, 1fr);
  height: 100%;
  width: 100%;

  h2 {
    color: theme("colors.darkgray");
    font-family: breve-text, serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    text-size-adjust: 100%;
  }
}
