.navigation {
  background-color: theme("colors.secondary");
  box-shadow: 0 0 0 0.1rem rgba(1, 3, 5, 0.02);
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 1rem;
  max-width: 20rem;
  min-width: 15rem;
  padding: 1.5rem 1rem;

  ul {
    overflow: hidden;
    margin-left: 4px;
  }

  li {
    overflow: hidden;
    padding: 0.25rem 2px;
  }

  button {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: theme("colors.primary");
    }
  }
}
